@use '@styles/variables';

@media (max-width:643px) {
    .input {
        width: 100%;
        margin: 0 auto;
    }
}

.submit {
    min-width: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-bottom: 9px;
    cursor: pointer;
}

.submit:hover {
    background-color: variables.$colorMediumGreen;

}

.submit:active {
    background-color: #001a00;
    color:white;
}